<a href="https://colab.research.google.com/github/jubrilrahmah/intermediate_module1/blob/main/lesson1_ass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
print("Module 1, lesson 1, Assignment")

Module 1, lesson 1, Assignment

In [11]:

print("Question 1")
#1. using else block to display a message "Done" after succesful excecution of a for loop
#this for loop is scanning through the list below to know if anynof the object in the leng of the list is same that in the if conditional statement
#there is a clause condition to "continue" if the value is not Bushrah so when its done with loop(i.e the objects in the list), its print an statment of "done" statement
namelist= ["Ramat", "Bushrah", "Abidat", "Maryam","Yusuf"]
for i in range(len(namelist)):
    if namelist[i] == "Bushrah":
        continue
    print("\n", namelist[i])
else:
        print("Done")

Question 1

 Ramat

 Abidat

 Maryam

 Yusuf
Done

In [ ]:
#2. Write a programme to display all prime numbers within a range 
a= int(input("lower range value"))
b= int(input ("upper range value"))
for i in range (a, b):
    if i > 1: # since 1 is not a prime number, hence looking for numbers above one that suit prime condition
        for values in range(2, i):
            if (i%values) == 0:
                break
    
        else:
            print( i, end= " ")

lower range value3
upper range value59
3 5 7 11 13 17 19 23 29 31 37 41 43 47 53

In [ ]:
#3. Use a loop to display elements from a given list presnt at odd index positions
namelists= ["Ramat", "Bushrah", "Abidat", "Maryam","Yusuf"]
for i in range(len(namelists)): #that is within length of object
#from the list above, the len is 5, hence range is within 0, 5(i.e 0,1, 2, 4) which is sme as normal index of the list
    if i %2 != 0:
        print(namelists[i])

    # else:
    #   print(namelists[i], "not in odd index position")

Bushrah
Maryam

In [ ]:
#4 calculate the cube of all numbers from 1 to a given number
z= int(input("enter the any number above 1: "))

#using the lambda function to print out the cube of values from 1 to the number "z" given above
num = lambda x: x**3
for i in range(1, z+1):
    # print([i], end= " ") #another way of printing range, but in this case, it list each of the value
        print(num(i), end= " ")

enter the any number above 1: 20
1 8 27 64 125 216 343 512 729 1000 1331 1728 2197 2744 3375 4096 4913 5832 6859 8000